<nav class="navbar navbar-expand-lg fixed-top ty-navbar">
  <div class="container">
    <a class="navbar-brand ty-brand" routerLink="/home">
      <span class="brand-icon">&#9889;</span> Told Ya!
    </a>
    <button
      class="navbar-toggler ty-toggler"
      type="button"
      (click)="isMenuCollapsed = !isMenuCollapsed"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [class.show]="!isMenuCollapsed" id="navbarResponsive">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link ty-nav-link" routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link ty-nav-link ty-nav-cta" routerLink="/argument">Start an Argument</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
