.mat-stepper-horizontal {
    margin-top: 8px;
}

.mat-form-field {
    margin-top: 16px;
}

.margin-top {
    margin-top: 8%;
}

.margin-left {
    margin-left: 1%;
}

.margin-left-form {
    margin-left: 15%;
}

.delete {
    top: -4 !important;
}

.delete-icon {
    font-size: 20px !important;
}

.display {
    display: none;
}