<div class="row">
  <div class="col-12">
    <h2>
      {{argument?.topic}}
    </h2>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <h4>{{argument?.personA}}</h4>
    <p>{{argument?.argumentA}}</p>
    <br>
    <button mat-button (click)="castVote('A')">Vote</button>
    <mat-spinner *ngIf="loadingA" [diameter]="25"></mat-spinner>
  </div>
  <div class="col-6">
    <h4>{{argument?.personB}}</h4>
    <p>{{argument?.argumentB}}</p>
    <br>
    <button mat-button (click)="castVote('B')">Vote</button>
    <mat-spinner *ngIf="loadingA" [diameter]="25"></mat-spinner>

  </div>
</div>